@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1E1C1C;

    nav{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-left{
            margin-left: 5%;
            p{
                font-family: 'Iceberg', cursive;
                text-transform: uppercase;
                font-size: 35px;
                user-select: none;
                ms-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
            }
        }
        .nav-right{
            margin-right: 5%;
            font-size: 25px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 170px;
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                opacity: 50%;
            }
        }
    }

    .video-container{
       display: flex;
       flex-direction: row;
       justify-content: center;
    }

    .gallery-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1vw;
      }
      
      
      .gallery-column {
        flex: 25%;
        max-width: 33.3%;
        margin: 15px;

        img {
            margin: 15px;
            vertical-align: middle;
            width: 100%;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            -webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
            filter: grayscale(80%);
            border-radius: 5px;

            &:hover{
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                transition: filter 1.5s;
            }
          }
      }
      @media screen and (max-width: 800px) {
        .gallery-column {
          flex: 45%;
          max-width: 50%;
        }
      }
      @media screen and (max-width: 600px) {
        .gallery-column {
          flex: 100%;
          max-width: 100%;
        }
      }
}